html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
    overflow: hidden;
}

#header {
    z-index: 3;

    font-size: 35px;
    color: white;

    position: absolute;
    top: 10px;

    margin-left: 70px;
}

.content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 33px;
    padding-bottom: 40px;
    padding-top: 39px;
    height: calc(100% - 33px);
    overflow: auto;
}
