.articleWrapper {
    width: 800px;

    padding: 10px 30px 10px 30px;
    margin-bottom: 60px;

    background-color: white;
}

.articleSubject {
    font-size: 35px;
    color: #2574A5;

    width: 100%;

    border-bottom: solid 1px black;
}

.articleAuthor {
    font-size: 20px;
    color: black;

    margin-top: 13px;
    
    float: right;

    display: inline-block;
}

.articleCreateDate {
    border-bottom: solid 1px black;

    padding-left: 20px;

    background-color: #4E3C47;
    color: white;
}

.articleBody {
    margin: 15px 20px 15px 20px;
}
