.navbar {

    position: fixed;
    top: 0px;
    right: 70px;

    width: 100%;

    text-align: right;

    border-bottom: 1px black solid;

    z-index: 1;
    background-color: white;
}

.navitem {
    font-size: 18px;
    
    display: inline-block;

    margin-top: 10px;
    
    height: 25px;
    width: 130px;
    
    border-left: 1px black solid;
    border-right: 1px black solid;
    
    text-align: center;
    //vertical-align: center;
    
    cursor: pointer;
}
