#articleEditor {
    width: 800px;
}

#articleEditor .formHeader {
    font-size: 25px;
    width: 80%;
}

#articleEditor .formAuthor {
    font-size: 16px;
    width: 17%;
}

#articleEditor .formBody {
    width: 98%;
    height: 500px;

    font-size: 14px;
}

#articleEditor .formButtonBar {
    float: right;
}
