html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
}

.content {
    width: 1000px;
    height: 100%;

    padding-left: 30px;
    padding-right: 200px;
    padding-top: 50px;

    margin-left: auto;
    margin-right: auto;

    height: calc(100%-30px);

}
