html {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Lora', serif;
}

.content {
    width: 1000px;
    height: 100%;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;

    margin-left: auto;
    margin-right: auto;

    height: 100%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
