<li>
    <img ng-src="controller.officer.photo" /> <br />
    <p>Name: <input type="text" ng-model="controller.officer.name" /></p>
    <p>Position: <input type="text" ng-model="controller.officer.position" /></p>
    <p>Year: <input type="text" ng-model="controller.officer.year" /></p>
    <p>Email: <input type="text" ng-model="controller.officer.email" /></p>
    <p><textarea ng-model="controller.officer.bio" style="width: 95%; height: 300px; resize: none;"></textarea></p>
    <p><button ng-click="controller.savePressed()">Done</button></p>
</li>
