extends layout

block content
    script.
        window.location.assign("/#/index")
    div(id="header") ACM UC Denver
    div(ui-view="navbar" class="navbar")
    div(ui-view="content" class="content")
