doctype html
html(ng-app="acmApp")
    head
        title= title
        base(href="/")

        //- CSS
        link(rel='stylesheet', href='/css/app.css')
        link(href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css')

        //- Libraries
        script(src='/js/bower_components/angular/angular.js')
        script(src='/js/bower_components/angular-ui-router/release/angular-ui-router.js')

        //- App
        script(src='/acmApp/acmApp.module.js')

        //- Routes
        script(src='/acmApp/acmApp.routes.js')

        //- Controllers
        script(src='/acmApp/components/events/EventsController.js')

        //- Articles
        script(src='/acmApp/components/articles/ArticlesController.js')
        script(src='/acmApp/components/articles/ArticlesFactory.js')
        script(src='/acmApp/components/articles/articleDirective.js')
        link(rel='stylesheet', href='/acmApp/components/articles/style.css')

        //- Navbar
        script(src='/acmApp/components/navbar/NavBarController.js')
        link(rel='stylesheet', href='/acmApp/components/navbar/style.css')

    body
        
        block content
