doctype html
html(ng-app="acmApp")
    head
        title= title
        // meta tags for twitter bootstrap basic template
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- CSS
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/js/bower_components/bootstrap/dist/css/bootstrap.min.css')

    body
        
        block content
        
        //- Libraries
        script(src='/js/bower_components/jquery/dist/jquery.min.js')
        script(src='/js/bower_components/angular/angular.min.js')
        script(src='/js/bower_components/angular-ui-router/release/angular-ui-router.min.js')

        //- App
        script(src='/acmApp/acmApp.module.js')

        //- Routes
        script(src='/acmApp/acmApp.routes.js')