doctype html
html(ng-app="acmApp")
	head
		title= title
		link(rel='stylesheet', href='/css/app.css')
		
		h1= title
		//p Welcome to #{title}
		
	body
		block content
		div(ng-controller='EventsController as eCtl')
			table(event-view ng-repeat='event in eCtl.events')
		script(src='/js/bower_components/angular/angular.min.js')
		script(src='/acmApp/acmApp.module.js')
		script(src='/acmApp/components/events/EventsController.js')
