doctype html
html(ng-app="acmApp")
    head
        title= title
        base(href="/")

        //- CSS
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/js/bower_components/bootstrap/dist/css/bootstrap.css')

    body
        
        block content
        
        //- Libraries
        script(src='/js/bower_components/angular/angular.js')
        script(src='/js/bower_components/angular-ui-router/release/angular-ui-router.js')

        //- App
        script(src='/acmApp/acmApp.module.js')

        //- Routes
        script(src='/acmApp/acmApp.routes.js')

        //- Controllers
        script(src='/acmApp/components/navbar/navBarController.js')
        script(src='/acmApp/components/articles/articlesController.js')
        script(src='/acmApp/components/events/eventsController.js')
