<script src="officersService.js"></script>
<script src="officersController.js"></script>

<div ng-controller="officersController as officers">
    Officers
    <p>A list of Officers</p>
    <ul>
        <!-- Print the subject/title, author, date, and body of each article
            Does not print the "modifiedDate" or  "imgs" fields-->
        <li ng-repeat="officer in officers.allOfficers">
            {{ officer.photo }} {{ officer.name }} on {{ officer.position }}
        </li>
    </ul>
</div>
